* {
    text-align: center;
}
/* フォーム全体のスタイル */
form {
    display: flex;
    flex-direction: column;  /* 要素を縦に並べる */
    gap: 10px;  /* 要素間の間隔を確保 */
    width: 100%;
    max-width: 500px;
    margin: 0 auto;  /* フォームを中央揃え */
  }

  div { 
    display: flex;
  }

  span {
    margin-top: 2px;
  }

  /* 入力欄とラベルのスタイル */
  label, input, button {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="number"], input[type="text"], button {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #a5a5a5;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
  }

 .small {
    padding: 4px;
    font-size: 14px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    
 }

  button:hover {
    background-color: #535353;
  }
  
  /* 結果リストなどが縦に並ぶように設定 */
  ul, ol {
    list-style: none;
    padding: 0;
  }

  .left {
    gap: 10px;  /* 要素間の間隔を確保 */
    width: 100%;
    max-width: 250px;
    margin: 0 auto;  /* フォームを中央揃え */
  }

  .no-center {
    text-align: left;
  }

  .no-no-center {
    width: 100%;
    max-width: 60px;
    text-align: right;
  }
  
  li {
    font-size: 18px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;  /* フォームを中央揃え */
    padding-bottom: 10px;
  }

  .extra {
    width:auto;
  }
  
  /* 結果表示を中央に配置 */
  .result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  